<ul>
{% for task in tasks %}
    <li>
        {% if task.done %} <strike> {% endif %} {{ task.content}}  {{task.time}} {% if task.done %} </strike>{% endif %}
        <a href="/done/{{ task.id }}">Done</a>
        <a href="/delete/{{ task.id }}">Delete</a>
    </li>
{% endfor %}
</ul>


<form action="/task" method="post">
    <p><input type="text" name="content"></p>
    <p><input type="text" name="time"></p>
    <input type="submit" value="Add task">
</form>

<form action="/schedule" method="post">
    <input type="submit" value="schedule">
</form>
